@font-face{
    font-family: 'Open Sans Light';
    src:url(OpenSans-Light-webfont.woff);
    src:url(OpenSans-Light-webfont.woff) format('woff');
    font-weight: 200;
    font-style:normal
}

@font-face{
    font-family: 'Open Sans Regular';
    src:url(OpenSans-Regular-webfont.woff);
    src:url(OpenSans-Regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style:normal
}

@font-face{
    font-family: 'Open Sans Semibold';
    src:url(OpenSans-Semibold-webfont.woff);
    src:url(OpenSans-Semibold-webfont.woff) format('woff');
    font-weight: 700;
    font-style:normal
}

main header {
    padding-bottom: 1em;
}

main header h1 {
    margin-top: 1em;
    font-size: 31px;
}

#global-header-bar {
    margin: 0;
    width: 100%;
    max-width:100%;
}

.header-bar-inner {
    background-color: #9aa;
    height: 16px;
}

.button,
.button:visited,
.complications,
.complications:visited {
    background-color: #199179; /* 168, 83, 57 */
    text-align:left;
}

#global-header-bar.searchIsVisible {
    background-color: #dddddd;
    text-align:left;
}

.button:hover,
.button:focus,
.complications:hover,
.complications:focus {
    background-color: #157a66; /* 168, 83, 48 */
}

.process,
.process:visited {
    background-color: #1b9dd2;
}

.process:hover,
.process:focus {
    background-color: #188CBA;
}

.interpersonal,
.interpersonal:visited {
    background-color: #9B5DCE;
}

.interpersonal:hover,
.interpersonal:focus {
    background-color: #8A52B7;
}

.medication,
.medication:visited {
    background-color: #4963BE;
}

.medication:hover,
.medication:focus {
    background-color: #3F56A8;
}

.other,
.other:visited {
    background-color: #9aa;
}

.other:hover,
.other:focus {
    background-color: #859393;
}

.discharge,
.discharge:visited {
    background-color: #dee0e2;
    color: #000;
}

.discharge:hover,
.discharge:focus {
    background-color: #b6b8ba;
}




/*
hex     rgb           hsv           hsl
199179  25, 145, 121  168, 83, 57   168, 71, 33
1b9dd2  27, 157, 210  197, 87, 82   197, 77, 47
9B5DCE  155, 93, 206  273, 55, 81   273, 54, 59
4963BE  73, 99, 190   227, 62, 75   227, 47, 52
9aa     153, 170, 170 180, 10, 67   180, 9, 63


    background-color: #186F91;  197, 83, 57 
    background-color: #145D7A;  197, 83, 48 

    background-color: #5B1891;  273, 83, 57 
    background-color: #4C147A;  273, 83, 48 

    background-color: #183291;  227, 83, 57 
    background-color: #142A7A;  227, 83, 48 

    background-color: #829191;  180, 10, 57 
    background-color: #6E7A7A;  180, 10, 48 

*/




#global-header-bar .header-bar {
    background-color: transparent;
    margin: 0 auto;
    width: auto;
    max-width: 1020px;
    height: auto;
    padding-bottom: 1em;
}

#proposition-menu {
    text-align: right;
}


.u-inline-block {
    display: inline-block;
}

a.u-color-white {
    color: white;
}

.u-full-width {
    width: 100%;
}

input.search-text {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.47368;
    height: 28px;
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding: 6px;
    z-index: 3;
    background: white;
    border: 0px solid white;
    margin: 0px;
    width: 80%;
}

input.search-submit {
    z-index: 4;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #0b0c0c;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;
    color: #fff;
    background: #0b0c0c url(search.png) no-repeat 2px 50%;
}

button.next {
    text-align: left;
}

a.question {
	float: left;
	clear: left;
	margin: 1em 0px;
}


h1, h2, h3, h4,
p, ol, ul, li, label, textarea,
input, input.search-text, .next {
    font-weight: 400;
    font-family: 'Open Sans Regular',sans-serif;
}

.button {
    font-weight: 700;
    font-family: 'Open Sans SemiBold',sans-serif;
}

#global-header .header-proposition #proposition-name,
#global-header {
    font-weight: 700;
    font-family: 'Open Sans Semibold',sans-serif;
}

a.back-to-previous {
    background: url("icon-caret-left.png") left 0.2em no-repeat;
    cursor: pointer;
    margin-bottom: 2em;
    position: static;
    font-size: 20px;
}

hr {
    float: left;
    clear: left;
    width: 100%;
    margin: 2em 0em;
}

.discharge-buttons {
    margin-bottom: 2em;
    float: left;
    clear: left;
    width: 100%;
}
